
# Created by https://www.gitignore.io/api/jupyter
# Edit at https://www.gitignore.io/?templates=jupyter

#!! ERROR: jupyter is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/jupyter
